*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #080808;
    color: #fff;
}
html{
    overflow-x: hidden;
}

#header{
    width: 100%;
    height:100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    letter-spacing: 1px;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0088;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    margin-left: 10%;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color:#ff0088;
}

/* -------------About---------- */

.about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 350px;
    height: 450px;
    border-radius: 15px;
}
.about-col-2{
    flex-basis:  65%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 7px;
    text-align: center;
    font-family: 'poppins', 'sans-serif',Georgia, 'Times New Roman', Times, serif;
}
.sub-title span{
    color: #ff0088;
} 
.me{
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   font-size: 18px;
   text-align: justify;
}
.tab-titles{
    display: flex;
    margin: 20px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    letter-spacing: 0.5px;
    font-family: 'poppins', 'sans-serif',Georgia, 'Times New Roman', Times, serif;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0088;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    letter-spacing: 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.tab-contents ul li span{
    color:#d90d7a;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* Profesional Exposure */


.profexp{
    color: #ababab;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5rem;
    font-family: 'poppins', 'sans-serif',Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
 
.profexp .row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    width:100%;
    margin: 1rem;
}

.row .exp-col-1,.row .exp-col-2{
    width: 45%;
}

.exp-col-1 .title,.exp-col-2 .title{
    font-size: 2rem;
    margin: 0 0 1.5rem 2rem;
}
.exp-col-1 .exp-box,.exp-col-2 .exp-box{
    border-left: .1rem solid #ff0088;
    padding-left: 1rem;
}
.exp-box .exp-content{
    position: relative;
    padding-left: 1.5rem;
}
.exp-box .exp-content::before{
    content: '';
    position: absolute;
    top:0;
    left: -1.45rem;
    width: 0.8rem;
    height: 0.8rem;
    background: #ff0088; 
    border-radius: 20%;

}

.exp-content .content{
    position: relative;
    padding: 1.5rem;
    border: .1rem solid #ff0088;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.exp-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4b0028;
    z-index: -1;
    transition: .5s;
}
.exp-content .content:hover::before{
   width:100% 
}
.exp-content .content .year{
    font-size: 18px;
    color: #ff0088;
    padding-bottom: .5rem;
}
.exp-content .content .year i{
 padding-right:.5rem ;
}
.exp-content .content h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.exp-content .content p{
    font-size: 16px;
    padding-top: .2rem;
}
/* ------project---- */

.projects{
    padding: 30px 0px;
    margin:0% 10%;
}

.pro-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
} 
.pro-row .pro-col{
    background-color: #262626;
    padding: 40px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    text-align: justify;
}
.pro-row .pro-col i{
    font-size: 35px;
    margin-bottom:  30px;
}
.pro-row .pro-col h2{
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 15px;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.pro-row .pro-col a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top:20px;
    display: inline-block;
}
.pro-row .pro-col:hover{
    background: #ff0088;
    transform: translateY(-10px);
}


/* ---Skills--- */

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    justify-content: center;
    width: 90%;
    margin:0% 15%;
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap:5rem; 
}
.skills-row .skillscol{
    width:35%;
}
.skillscol .title{
    color: #ababab;
    font-size: 30px;
    margin: 0 0 1.5rem;
    font-family: 'poppins', 'sans-serif',Georgia, 'Times New Roman', Times, serif;

}
.skills-box .skills-content{
    position: relative;
    border: .1rem solid #ff0088;
    border-radius: .6rem;
    padding: .2rem 1rem;
    /* height: 400px; */
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3{
    color:#d90d7a;
}

.skills-content .progress .bar{
    height: 1.1rem;
    border-radius: .6rem;
    border:.1rem solid #ff0088;
    padding: .15rem;
    margin: .1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height:100%;
    border-radius: .6rem;
    background:#ff0088;
}

.skillscol:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width:90%;
}
.skillscol:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width:90%;
}
.skillscol:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width:80%;
}
.skillscol:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width:90%;
}
.skillscol:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width:75%;
}

.skillscol:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width:80%;
}
.skillscol:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width:85%;
}
.skillscol:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width:90%;
}
.skillscol:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width:65%;
}
.skillscol:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width:60%;
}

/* -----------contact----------- */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 65%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff0088;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color: #ff0088;
    transform: translateY(-5px);
}
.btn-btn-2{
    display: inline-block;
    background: #ff0088;
    padding: 14px 22px;
    border-radius: 5px;
    margin-top: 10px;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn-btn-2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff0088;
}



/* -------------------------small-screen css----------------------- */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px) {

    #header{
        background-image: url(images/smallbackground.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff0088;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height:100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .skills-row .skillscol{
        width:80%;
    }
    .row .exp-col-1,.row .exp-col-2{
        width: 90%;
    }
    
}
